{% extends 'layout.html' %}
{% block main %}

<div class="content">
  <div class="content-padded">
    <h2>Welcome to Betahaus Wi-Fi.</h2>
    <div class="message">
      <p>Please log in with your Cobot credentials to access the internet.</p>
      {% if status %}
      <p><b>Error: {{status}}</b></p>
      {% endif %}
    </div>
    <form method="POST" action="/login" id="login-form">
      <input type="text" name="text" placeholder="Email" autofocus required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="submit" name="submit" value="Login" class="btn btn-block btn-primary">
      <input type="hidden" name="grant_id" value="{{grant_id}}">
    </form>
    <p style="margin-top:40px">
      No account? Problems logging in? <a href="/help">More info</a>
    </p>
  </div>
</div>
{% endblock %}
