{% extends 'layout.html' %}
{% block main %}

<div class="content">
  <div class="content-padded">
    <h2>How to get into Betahaus Wi-Fi.</h2>
    <p style="margin-top:40px;text-align:left" class="message">
      To create a cobot account, you have to have a valid membership at betahaus.
      Please proceed to our front desk at the reception area to create or
      activate your account. An activation email will be sent to you afterwards
      and you can use the free coffeeshop wifi to activate your cobot account.
    </p>
  </div>
</div>
{% endblock %}
